@model EditDepartmentViewModel
@{
    ViewData["Title"] = "Edit Department";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="display-6">@ViewData["Title"]</h1>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-3">
        <form asp-action="Edit" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger small"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="enter department" />
            </div>

            <div class="form-group mb-3">
                <button type="submit" class="btn btn-warning" title="Edit"><i class="fa-solid fa-edit me-2"></i>Edit</button>
                <a asp-action="List" class="btn btn-secondary" title="Back to List"><i class="fa-solid fa-angles-left me-2"></i>Back to List</a>
            </div>
        </form>
    </div>
</div>

@section scripts{
    @Html.Partial("_ValidationScriptsPartial")
}
